extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Forgot your password?
      form.form.form--forgot(method='POST')
        .form__group
          label.form__label(for='email_forgotpass') Email address
          input#email_forgotpass.form__input(
            type='email',
            name='email',
            placeholder='you@example.com',
            required
          )
        .form__group
          button.btn.btn--green.btn--login(type='submit') Send reset link
