extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Reset your password

      form.form.form--reset(method='PATCH')
        input(type='hidden', name='token', value=token)

        .form__group
          label.form__label(for='password') New Password
          input#password.form__input(type='password', name='password', required, placeholder='••••••••')

        .form__group
          label.form__label(for='passwordConfirm') Confirm Password
          input#passwordConfirm.form__input(type='password', name='passwordConfirm', required, placeholder='••••••••')

        .form__group
          button.btn.btn--green(type='submit') Reset Password
